---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>jacksunny - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="190" height="190" src="images/jacksunny_avatar.png">
				<h1>JackSunny</h1>
				<p>一个迷茫的码农<br>
					<b>迷茫是种病，的治！</b></p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">2015回顾</h2>
							<time>2015.12.29</time>
							<img src="images/shoubai-phone.png">
							<ul>
								<li>
                                    在百度也快小半年，参与部分度秘，使之能在世界大会上完美展示，之后参与手百语音插件重构，新feature开发，保证其稳定性，年底kpi已经完成。但是总感觉少了点什么...<br>希望在2016有希望的产品出现
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
<!--									<span><b>JS</b></span>-->
<!--									<span class="i-react"></span>-->
									<span class="link"><a target="_blank" href="http://xbox.m.baidu.com/wuxian/?from=1006979s">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="busyweek">搭搭</h2>
							<time>2015.07</time>
							<img src="images/dada-all.png">
							<ul>
								<li> 同事拼车,绿色出行是我们的理念，大概是去年的晚些时候加入了搭搭，当时爱拼车还在运营，百度还没有领投51用车，滴滴和快的还在猛掐，没有大鳄在拼车这块。加入搭搭，经历很多有意思的事，一起加班到一两点推上线，一起吃厨神给我们做的饭，一起整理卫生，一起讨论产品细节和方向，一起去爬山，一起去滑雪，一起去地推...
									<br>认识了一群很有想法又有能力的小伙伴，老屠，曹爷，建材，辉哥，小天儿，侯爵，彩可，刘伟，小熬，老屠是很有激情的老帮菜，曹爷php靠谱大神，炸酱面一流，建材刚毕业小鲜肉，学习速度很快，辉哥幽默UI，经常去给人无偿修电脑，小天儿温柔有魅力，做饭超好吃，爵爷高大帅气男神，对工作认真负责，彩可做事很有章法的产品经理，刘伟引领剁手一族，也是小叮当，小敖是我们的厨神，同时也是男神，希望一切安好！
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span class="link"><a target="_blank" href="http://www.idache.com/">搭搭官网</a></span>
								</li>
							</ul>
						</div>
					</li>
					
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li> 
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
